body{
    font-family: 'Amaranth', sans-serif;
    background-color: rgb(43,43,43);
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;}


.chat{
    position:fixed;
    width: 100%;
    background-color: rgb(130,14,17);
    margin: 0;
    padding: 10px;
    color: white;}
.chat > a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;}

img#Banner{
    width: 100%;
    height: auto;}

.Sports{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1500px;}

.item{
    background-color: black;
    width: 30%;
    padding-top: 10%;
    margin: 5%;
    height: 15%;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;}

.item:hover{
    transform:scale(1.1);
    transition: .5s;
}

a{
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
    font-size: 50px;
    color: aliceblue;}

a:hover{ text-shadow: 2px 2px 4px #000000;}

#newsport{
    width: 100%;
    text-align: center;
    padding: 20px;
}

a#entry{
    padding: 5px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    width: 25%;
    height: 30px;
    background-color: rgb(130,14,17);
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    transition-duration: 0.4s;}

a#entry:hover{
    background-color: white;
    color: black;}



.footer{
    bottom: 0;
    margin-top: 2%;
    padding: 2%;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;}

.footer > p{
    padding: 0.5%;
    margin: 0;
    letter-spacing: 0.1em;}



@media screen and (max-width: 1400px){
    .Sports{ height: 1100px; }
    a{ font-size: 30px; }}

@media screen and (max-width: 1000px){
    .Sports{ height: 800px; }
    a{ font-size: 30px; }}

@media screen and (max-width: 700px){
     .Sports{height: 600px; }
    a{font-size: 20px; }
    .item {width: 50%}}

@media screen and (max-width: 500px){
    .Sports{height: 400px;}
    a{ font-size: 14px; }}



    /* Diese Datei ist ein Teil des Multimediaprojektes 1,
    der Fachhochschule Salzburg, Studiengang Multimediatechnology.
            Idee und Umsetzung von Elias Cia */